:root {
	--primary-color: #0D9B90;
	--secundary-color: #5D1D46;
	--font-color-ligth: #eee;
	--background-color: #ECEFF1;
	--ring-color: #8b2c69;
}

html, body, h1, h2 {
	margin: 0;
	padding: 0;
}

body {
	background: var(--background-color);
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	min-height: 100vh;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.wrapper {
	min-height: calc(100vh - 63px);
}

.wrapper a {
	color: var(--secundary-color);
}

.mt-1 {
	margin-top: 1rem;
}

.big-title {
	font-size: 2.3rem;
}

@media only screen and (min-width: 600px) {
	main {
		display: flex;
		gap: 1rem;
		margin-top: 1rem;
	}

	main > section {
		flex: 2;
	}

	main > aside {
		flex: 1;
	}
}