:root {
	--primary-color: #0D9B90;
	--secundary-color: #5D1D46;
	--font-color-ligth: #eee;
	--background-color: #ECEFF1;
	--ring-color: #8b2c69;
	--font-color-gray: #686868;
	--agnostic-loading-color: #5D1D46;
	--primary-outline-color: #16c3b4;
	--input-editable-color: #F1F3F5;
}

html, body, h1, h2 {
	margin: 0;
	padding: 0;
}

body {
	background: var(--background-color);
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	min-height: 100vh;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.wrapper {
	min-height: calc(100vh - 63px);
}

.wrapper a {
	color: var(--secundary-color);
}

.mt-1 {
	margin-top: 1rem;
}

.p-1 {
	padding:  1rem;
}

.big-title {
	font-size: 2.3rem;
}

.card {
	background: #f9fafa;
}

a.link-black {
	color: #000;
}

.main-icon {
	font-size: 2rem;
}

.text-white {
	color: #fff;
}

.container-white {
	background: #fff;
}

.controls-right {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}


.select-label {
	color: var(--agnostic-font-color, var(--agnostic-dark));
	font-family: var(--agnostic-font-family-body);
	font-weight: var(--agnostic-font-weight, 300);
	font-size: var(--agnostic-font-size, 1rem);
	line-height: var(--agnostic-line-height, var(--fluid-20, 1.25rem));
	width: 100%;
	max-width: 100%;
}

.select-label > span {
	display: block;
	margin-bottom: 0.5rem;
}

.separator-field {
	margin-bottom: 1rem;
}

.select-wrapper {
	margin: 1rem 0;
}

.actions {
	margin-top: 2rem;
}

.toast-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.dialog {
	overflow: scroll;
}

.empty-state {
	padding: 1.5rem;
	text-align: center;
	color: var(--font-color-gray);
    font-weight: 300;
}
.empty-state i {
	margin-left: 0.3rem;
}

.radio-field input {
	accent-color: var(--primary-color);
}

.radio-field span {
	text-transform: capitalize;
	margin-right: 0.5rem;
}

.confirm-action button span {
	margin-right: 0.8rem;
}

.separator-field .date-time-field input {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	main {
		display: flex;
		gap: 1rem;
		margin-top: 1rem;
	}

	main > section {
		flex: 2;
	}

	main > aside {
		flex: 1;
	}
}